.slider-wrapper {
    width: 100%;
    top: 0;
    bottom: 0;
    height: 100%;
    display: flex;
}

.slide {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    flex: 1;
}

.image {
    width: 100%;
    height: 100%;
}

.info {
    position: absolute;
    font-size: 1.5rem;
    font-weight: bold;
    color : #008080;
    top: 50%;
    width: 100%;
    margin: auto;
    text-align: center;
}